* {
    padding: 0;
    margin: 0;
}

/* -----Mobile first----- */

/* Tipografia */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Layout */

.grid-layout {
    display: grid;
    height: 100vh;
    justify-content: center;
    grid-template-rows: 80px 60px 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer"
    ;
}

/* Barra de navegacion */
nav {
    grid-area: nav;
    background-color: rgb(15, 92, 15);
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h5 {
    color: white;
    font-size: 1.5rem;
    padding-left: 10px;
}

.logo img {
    width: 150px;
}

.menu-mobile {
    display: flex;
    justify-content: center;
}
.menu-mobile img {
    width: 40px;
}

.menu-desktop {
    display: none;
}

/* Apartado buscar */
header {
    grid-area: header;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.filters {
    width: 200px;
    background-color: white;
}

/* Grilla de imagenes */
main {
    grid-area: main;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    width: 350px;
    box-shadow: 0 0 10px rgb(155, 154, 154);
    transition: scale 1s ease-out;
    padding-bottom: 5px;
}

.card:hover {
    scale: 1.05;
}

.card img {
    width: 200px;
}

.card button {
    background-color: rgb(15, 92, 15);
    color: white;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    transition: all 0.2s ease-in;
}

.card button:hover {
    background-color: goldenrod;
    scale: 1.1;
    color: black;
}



.navigation {
    display: flex;
    justify-content: center;
    color: rgb(64, 1, 40) ;
    padding: 10px;
}

.navigation a {
    padding: 10px;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logof {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.logof .imgfot {
    display: flex;
    align-items: center;
}

.logof h5 {
    padding-left: 5px;
}

.logof img {
    width: 100px;
}

.rrss {
    padding-right: 10px;
}

.rrss img {
width: 30px;
}

footer p {
    font-size: 0.6rem;
}


/* -----Desktop (998px+)----- */
/* Grid desktop */

@media (min-width: 576px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 60px 1fr 60px;
        grid-template-areas: 
            "nav header"
            "nav main"
            "nav footer"
            ;
    }
}

/* Menu de navegacion  */

@media (min-width: 576px) {
    nav .menu-mobile {
        display: none;
    }
}

@media (min-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 15px;
    }
}

@media (min-width: 576px) {
    .logo img {
        width: 80px;
    }
}

@media (min-width: 576px) {
    .logo h5 {
        font-size: 1.1rem;
    }
}

@media (min-width: 576px) {
    nav .menu-desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }
}

@media (min-width: 576px) {
    .menu-desktop a {
        text-decoration: none;
        color: white;
    }
}

/* Grilla */

@media (min-width: 576px) {
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
    }

@media (min-width: 576px) {
    .card {
        align-self: normal;
    }
}

@media (min-width: 576px) {
    .card img {
        height: 300px;
    }
}